{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Password Changed
{% endblock %}

{% block main %}
<div id="pswd-changed-container" class="container-fluid mx-auto mb-5 pb-5 justify-content-center">
  <h2 id="pswd-changed-header" class="mx-auto my-3 text-center">Password Changed</h2>

  <div id="pswd-changed-div" class="card border-primary m-auto mb-3">
    
    <div id="pswd-changed-card" class="card-body">
      <p id="pswd-changed-msg" class="card-text text-center">
        Your password has been changed.
        <a id="login-link" href="{% url 'account_login' %}">Log in</a>.
      </p>
    </div>

  </div>
</div>
{% endblock %}