{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Change Password
{% endblock title %}

{% block main %}
<div id="change-pswd-form-container" class="container-fluid mx-auto mb-5 pb-5 justify-content-center">
  <h2 id="change-pswd-form-header" class="mx-auto my-3 text-center">Change Password</h2>

  <div id="change-pswd-form-div" class="card border-primary mx-auto mb-3">  
    <div id="change-pswd-form-card" class="card-body">
      <form id="change-pswd-form" method="post" action="{% url 'account_change_password' %}">
        {% csrf_token %}

        {{ form|crispy }}

        <button id="change-pswd-btn" type="submit" name="change_password" value="Change Password" 
          class="form-control btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}