{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Password Changed
{% endblock %}

{% block main %}
<div id="pswd-changed-div" class="card border-primary m-auto mb-3" style="max-width: 30rem">

  <div id="pswd-changed-header" class="card-header text-center">Password Changed</div>
  
  <div id="pswd-changed-card" class="card-body">
    <p id="pswd-changed-msg" class="card-text text-center">
      Your password has been changed.
      <a id="login-link" href="{% url 'account_login' %}">Log in</a>.
    </p>
  </div>

</div>
{% endblock %}