{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Reset Password
{% endblock %}

{% block main %}
<div id="reset-pswd-div" class="card border-primary m-auto mb-3" style="max-width: 30rem">
  
  <div id="reset-pswd-header" class="card-header text-center">Reset Password</div>
  
  <div id="reset-pswd-card" class="card-body">
    <form id="reset-pswd-form" method="post" class="m-auto">
      {% csrf_token %}

      {{ form|crispy }}
      
      <button id="reset-pswd-btn" type="submit" name="Reset Password" value="reset-password"
        class="form-control btn btn-primary" 
        alt="Press to reset your password.">Reset Password</button>
    </form>
  </div>
</div>
{% endblock %}