{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Register
{% endblock %}

{% block main %}
<div id="register-form-container" class="container-fluid mx-auto mb-5 pb-5 justify-content-center">
  <h2 id="register-header" class="mx-auto my-3 text-center">Register</h2>

  <div id="register-div" class="card border-primary m-auto mb-3">
    <div id="register-card" class="card-body">
      <form id="register-form" method="post" class="m-auto mb-2">
        {% csrf_token %}

        {{ form|crispy }}
        
        <button id="register-btn" type="submit" name="Register" value="register" 
          class="form-control btn btn-primary" 
          alt="Press to register your user account">Register</button>
      </form>
    </div>
    
    <div class="card-footer text-center">
      <p id="links-para" class="mt-3">
        Already have an account? <a href="{% url 'account_login' %}">Log in</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}