{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Verify Email
{% endblock %}

{% block main %}
<div id="verify-email-container" class="container-fluid mx-auto mb-5 pb-5 justify-content-center">
  <h2 id="verify-email-header" class="mx-auto my-3 text-center">Verify Your Email Address</h2>

  <div id="verify-email-div" class="card border-primary m-auto mb-3">
    <div id="verify-email-card" class="card-body">
      
      <p id="verify-email-msg" class="card-text text-center">
        We have sent an email to you for verification.
        Please, follow the link enclosed to finalize your registration.
      </p>
    
    </div>
  </div>
</div>
{% endblock %}