{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Verify Email
{% endblock %}

{% block main %}
<div id="verify-email-div" class="card border-primary m-auto mb-3" style="max-width: 30rem">
  
  <div id="verify-email-header" class="card-header text-center">Verify Your Email Address</div>
  
  <div id="verify-email-card" class="card-body">
    <p id="verify-email-msg" class="card-text">
      We have sent an email to you for verification.
      Follow the link provided to finalize the registration process.
    </p>
  </div>
</div>
{% endblock %}