/* Global Styles, Homepage Styles */
* {
  box-sizing: border-box;
}

html, body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

img#play2learn-logo {
  width: 3.5rem;
  height: auto;
  padding: 0;
}

cite {
  font-size: 0.75rem;
}

footer ul {
  font-size: 0.85rem;
}

/* HEADER, NAV styles */
#games-dropdown-menu-div,
#me-dropdown-menu-div,
#sign-dropdown-menu-div {
  min-width: 7rem;
  font-size: .90rem;
}

#leaderboards-dropdown-menu-div {
  font-size: .90rem;
}
/* End HEADER, NAV styles */


/* Game Container & Board styles 
     ah = Anagram Hunt 
     mf = Math Facts 
*/
#ah-game-container,
#mf-game-container {
  max-width: 27.78rem;
  height: auto;
  margin: 0.33rem auto;
}

#mf-answer-input {
  width: 11.11rem; /* 200px */
}

#mf-calculator-div {
  width: 16.67rem; /* 300px */
}
/* END Game Container & Board styles */


/* Leaderboards & MyGames TABLE styles */
#ah-leaderboard-container,
#mf-leaderboard-container,
#my-games-container {
  box-sizing: border-box;
  max-width: 50rem;
  min-height: 100vh;
}

#ah-leaderboard-tbl,
#mf-leaderboard-tbl,
#my-ah-scores-tbl,
#my-mf-scores-tbl  {
  width: 100%;
  table-layout: fixed;
  font-size: 0.75rem;
}

th, td {
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

p#no-scores-yet {
  width: 50%; 
  height:auto; 
  margin: 3rem auto; 
  font-size: 2rem; 
  font-style: italic;
}

p#no-my-ah-scores-yet, 
p#no-my-mf-scores-yet {
  width: 50%; 
  height:auto; 
  margin: 0 auto 3rem auto; 
  font-size: 1.25rem; 
  font-style: italic;
}

#my-ah-scrollable-table,
#my-mf-scrollable-table {
  display: block;
  max-height: 18rem; 
  overflow-y: auto;
}

#my-mf-scrollable-table {
  margin-bottom: 3rem;  
}

.sticky-table-thead {
  position: sticky;
  top: 0;
  z-index: 2; 
}
/* End Leaderboards TABLE styles */


/* FORM styles */
#contact-form-container,
#review-form-container {
  box-sizing: border-box;
  max-width: 45rem; 
}

#contact-disclaimer-msg,
#contact-form-div,
#review-disclaimer-msg,
#review-form-div {
  box-sizing: border-box;
  max-width: 40rem; 
}

#contact-form,
#review-form {
  box-sizing: border-box;
  max-width: 38rem; 
}

#contact-submitted-div,
#review-submitted-div {
  max-width: 50rem;
}

#change-pswd-form-div,
#change-pswd-div,
#confirm-reg-div,
#log-in-div,
#my-accnt-div,
#pswd-changed-div,
#register-div,
#reset-pswd-div,
#verify-email-div {
  max-width: 30rem;
}

#div_id_birthdate select {
  display: inline-block;
  width: 31%;
  margin: 0 1%;
}
/* End FORM styles */