{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
  Feedback: Leave a Review
{% endblock %}

{% block main %}
<div id="review-form-container" class="container-fluid mx-auto mt-1 mb-5 p-3 pb-5">
  <h2 id="review-form-header" class="mx-auto my-3 text-center">
    Feedback: Write a Review</h2>


  <p id="review-disclaimer-msg" class="mx-3 mt-0 mb-4 text-center">
    Pleas note, your review may be published on our home page. <br />
    If our team has questions, we may reach out to you via the email address provided.
  </p>

  <div id="review-form-div" class="card border-primary mx-3 mb-5 p-3">
    <form id="review-form" method="post" class="form" novalidate>

      {% csrf_token %}

      {{ form|crispy }}

      <button id="review-submit-btn" class="btn btn-success float-end" name="submit" type="submit"
        alt="Submit Button: Press to submit your review">Submit</button>
    </form>
  </div>

</div>
{% endblock %}