{% extends "_base.html" %}

{% load static %}

{% block title %}
  Anagram Hunt Leaderboard
{% endblock %}

{% block main %}
<div id="ah-leaderboard-container" class="container-fluid mx-auto mt-0 mb-5 p-3">
  <h2 id="ah-leaderboard-heading" class="mx-auto my-3 text-center">Anagram Hunt Leaderboard</h2>

    <div id="ah-leaderboard-sorting-controls" class="sorting-controls mb-2">
      <a id="ah-leaderboard-reset-sort-btn" 
        href="?order=rank" 
        class="reset-sort-btn btn btn-primary btn-sm" 
        alt="Reset the sort order of Anagram Hunt's Leaderboard">Reset Sort order
        <span class="sorting-arrows">&olarr;</span></a> 
    </div>

    {% if anagram_scores %}
      <table id="ah-leaderboard-tbl" class="table table-striped table-hover mx-auto my-2">
        <thead class="table-primary">
          <tr>
            {% if request.GET.order == "rank" %}
              <th id="ah-rank-header"><a href="?order=-rank">Rank</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
              <th id="ah-rank-header"><a href="?order=rank">Rank</a>
                <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}

            {% if request.GET.order == "player__username" %}
              <th id="ah-player-header"><a href="?order=-player__username">Player</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
              <th id="ah-player-header"><a href="?order=player__username">Player</a>
                <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}

            {% if request.GET.order == "final_score" %}
              <th id="ah-score-header"><a href="?order=-final_score">Final Score</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
              <th id="ah-score-header"><a href="?order=final_score">Final Score</a>
                <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}

            {% if request.GET.order == "game_date_time" %}
              <th id="ah-date-header"><a href="?order=-game_date_time">Date Played</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
                <th id="ah-date-header"><a href="?order=game_date_time">Date Played</a>
                  <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}
            
            <th id="ah-settings-header">Game Settings</th>
          </tr>
        </thead>

        <tbody>
          {% for score in anagram_scores %}
          <tr>
            <td id="ah-rank-{{score.id}}">{{ score.rank }}</td>
            <td id="ah-player-{{score.id}}">
              {% if score.player.avatar %}
                <img id="ah-player-avatar-{{score.id}}" 
                  src="{{score.player.avatar.url}}" 
                  class="player-avatar rounded"  
                  alt="Player's avatar"  />
              {% endif %}
              <span id="ah-player-username-{{score.id}}">{{ score.player.username }}</span>
            </td>
            <td id="ah-score-num-{{score.id}}">{{ score.final_score }}</td>
            <td id="ah-datetime-{{score.id}}">{{ score.game_date_time }}</td>
            <td id="ah-settings-{{score.id}}">  
              <b>Word Length:</b> {{ score.game.settings.word_length }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p id="no-scores-yet" class="text-primary text-center">
        No scores yet. Be the first to set a record!
      </p>
    {% endif %}
  
  {% include 'includes/pagination.html' %}
</div>

  {% block scripts %}
    <script src="{% static 'js/preserveScroll.js' %}"></script>
  {% endblock %}
{% endblock %} <!-- END main -->
