{% extends "_base.html" %}

{% load static %}

{% block title %}
  Math Facts Leaderboard
{% endblock %}

{% block main %}
<div id="mf-leaderboard-container" class="container-fluid mx-auto mt-0 mb-5 p-3">
  <h2 id="mf-leaderboard-heading" class="mx-auto my-3 text-center">Math Facts Leaderboard</h2>

    <div id="mf-leaderboard-sorting-controls" class="sorting-controls mb-2">
      <a id="mf-leaderboard-reset-sort-btn" 
        href="?order=rank" 
        class="reset-sort-btn btn btn-primary btn-sm" 
        alt="Reset the sort order of Math Facts' Leaderboard">Reset Sort order
        <span class="sorting-arrows">&olarr;</span></a> 
    </div>

    {% if math_scores %}
      <table id="mf-leaderboard-tbl" class="table table-striped table-hover mx-auto my-2">
        <thead class="table-primary">
          <tr>
            {% if request.GET.order == "rank" %}
              <th id="mf-rank-header"><a href="?order=-rank">Rank</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
              <th id="mf-rank-header"><a href="?order=rank">Rank</a>
                <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}

            {% if request.GET.order == "player__username" %}
              <th id="mf-player-header"><a href="?order=-player__username">Player</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
                <th id="mf-player-header"><a href="?order=player__username">Player</a>
                  <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}

            {% if request.GET.order == "final_score" %}
              <th id="mf-score-header"><a href="?order=-final_score">Final Score</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
              <th id="mf-score-header"><a href="?order=final_score">Final Score</a>
                <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}

            {% if request.GET.order == "game_date_time" %}
              <th id="mf-date-header"><a href="?order=-game_date_time">Date Played</a>
                <span class="sorting-arrows">&DownTeeArrow;</span></th>
            {% else %}
                <th id="mf-date-header"><a href="?order=game_date_time">Date Played</a>
                  <span class="sorting-arrows">&UpTeeArrow;</span></th>
            {% endif %}
            
            <th id="mf-settings-header" colspan="2" class="text-center">Game Settings</th>
          </tr>
        </thead>

        <tbody>
          {% for score in math_scores %}
          <tr>
            <td id="mf-rank-{{score.id}}">{{ score.rank }}</td> 
            <td id="mf-player-{{score.id}}">
              {% if score.player.avatar %}
                <img id="mf-player-avatar-{{score.id}}" 
                  src="{{score.player.avatar.url}}" 
                  class="player-avatar rounded"  
                  alt="Player's avatar"  />
              {% endif %}
              <span id="ah-player-username-{{score.id}}">{{ score.player.username }}</span>
            </td>
            <td id="mf-score-num-{{score.id}}">{{ score.final_score }}</td>
            <td id="mf-datetime-{{score.id}}">{{ score.game_date_time }}</td>
            <td id="mf-operation-{{score.id}}" class="text-center">
              <b>{{ score.game.get_mf_operation }}</b>
            </td> 
            <td id="mf-max-num-{{score.id}}">
              <b>Max Operand:</b>
              &nbsp;{{ score.game.settings.max_number }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p id="no-scores-yet" class="text-primary text-center">
        No scores yet. Be the first to set a record!
      </p>
    {% endif %}

  {% include 'includes/pagination.html' %}
</div>

  {% block scripts %}
    <script src="{% static 'js/preserveScroll.js' %}"></script>
  {% endblock %}
{% endblock %}  <!-- END main -->